.hidden {
  display: none !important;
}

#page-landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-landing-container {
  margin: 0 auto 65px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.5rem;
  margin: 77px auto 65px auto;
}

.row {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row.gear {
  min-height: 20vh;
  padding-bottom: 0;
}

.column-full {
  width: 100%;
  display: flex;
  justify-content: center;
}

.column-half {
  width: 50%;
}

.column-half.new-gear {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.column-third {
  display: flex;
  width: calc(100% / 3);
  justify-content: space-evenly;
}

.column-third.center {
  justify-content: flex-start;
  overflow: hidden;
  white-space: nowrap;
}

.column-third.right {
  justify-content: flex-end;
  align-items: center;
}

.column-fourth {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
}

#new-camera-form,
#new-lens-form,
#new-filter-form {
  display: flex;
  align-content: center;
}

@media screen and (max-width: 350px) {
  .column-half {
    width: 80%;
  }
}

@media screen and (min-width: 576px) {
  .container {
      width: 80%;
  }
}

@media screen and (min-width: 765px) {
  .container {
    width: 60%;
  }
}

@media screen and (min-width: 1020px) {
  .container {
    width: 40%;
  }
}
