* {
  font-family: 'Rajdhani', sans-serif;
}

header {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 2px solid black;
}

main {
  margin-top: 77px;
}

footer {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 2px solid black;
}

ul.nav-bar {
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

li.nav {
  display: inline;
  font-size: 1.5rem;
}

li.nav.bold {
  font-weight: 700;
}

.container {
  max-width: 575px;
  min-height: 80vh;
  margin: 0 auto;
  padding: 0.5rem;
}

.row {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
  display: flex;
  justify-content: center;
}

.column-half {
  width: 50%;
}

#page-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1.header-landing {
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  margin: 5rem 0 1rem 0;
}

.img-logo {
  width: 9rem;
  height: 11rem;
}

#zip {
  margin-top: 3rem;
  height: 2rem;
  width: 6rem;
  padding: 0.25rem;
  text-align: center;
  background-color: #efefef;
  border: none;
}

#page-plan {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 1.2rem 0 0.25rem 0.5rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
  margin: 0;
}

ul.list {
  margin-bottom: 0;
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form input {
  margin: 0.5rem 0;
  padding: 0.25rem;
  background-color: #efefef;
  border: none;
  text-align: center;
}

#notes {
  width: 100%;
  margin: 0.5rem;
  padding: 0.25rem;
  background-color: #efefef;
  border: none;
  text-align: start;
}

#button-save {
  height: 2rem;
  width: 6rem;
  padding: 0.25rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border: none;
}
